%ul#main_menu
  = navigation_link( 'Площадки', places_path, ['places#index'] )
  = navigation_link( 'Кампании', campaigns_path, ['campaigns#index'] )
  = navigation_link( 'Баннера', banners_path, ['banners#index'] )
