.b-banner
  width: 322px
  height: 90px
  padding: 10px
  margin: 5px
  +border-radius(5px)
  float: left
  //background: #eee
  +linear-gradient(color-stops(#eee, #ccc))
  display: block
  .banner_image
    overflow: hidden
    text-align: center
    vertical-align: middle
    background-color: #333
    float: left
    width: 120px
    height: 90px
    border: 1px dotted #999
  .banner_info
    float: left
    padding: 5px 10px
    width: 180px
    .banner_name
      color: #333
      display: block
      font-size: 16px
      font-weight: bold
      line-height: 125%
      margin-bottom: 5px
    .banner_format
      /* color: #125F15
      font-size: 12px
    .banner_details
      padding-top: 10px
      color: gray
      font-size: 12px

