#topper
  width: 75%
  position: relative 
  margin: 0 auto
  padding: 20px 40px
  h1#logo
    float: left
    font-family: georgia,serif
    font-size: 36px
    font-style: italic
    padding: 0 0 5px 0
    margin: 0
    a
      padding: 0 0 5px 0
      +link-colors(white, $lighten_color)
      +underline_hover
      +text-shadow($darken_color)
    #slogan
      color: $lighten_color
      font-weight: normal
      font-size: 15px
      +text-shadow($darken_color)
  a
    +link-colors($lighten_color, white)
    +underline_hover
#login
  position: absolute
  bottom: 25px
  right: 20px
  #login_menu
    padding-left: 10px
    float: left
  ul
    color: $lighten_color
    +horizontal-list
    &.email
      padding-bottom: 5px
      color: $lite_color

    
      

