// This import applies a global reset to any page that imports this stylesheet.
//@import blueprint/reset

$page_width: 950px

$form-bg: #eee
$primary_color: #4b7399
$link_color: $primary_color

// Цвет фона
$bg_color: $link_color

$darken_color: darken($primary_color, 20)

// Цвет ссылок на синем фоне
$lighten_color: lighten($primary_color, 40)
$lite_color: lighten($primary_color, 20)

$border_color: darken($primary_color, 10)

// Цвет заголовков
$h_color: darken($primary_color, 10)
$red_color: red


=underline_hover
  text-decoration: none
  &:hover
    text-decoration: underline


@import "compass/css3/border-radius"
@import "compass/css3/gradient"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/links/link-colors"

@import partials/datepicker

@import success-sasses/mixins/gradient-bg
// @import success-sasses/buttons/all
@import success-sasses/mixins/sass_tools
// @import success-sasses/simple_form/simple_form
@import nifty
@import topper


// @import "compass/css3/background-clip"
h2,h1
  color: $h_color
  // +text-shadow

a
  +link-colors($link_color, $darken_color)

// @import blueprint

//@import partials/form

// @import flutie/tables


table
  width: auto
  th
    text-align: left
  td
    padding-top: 5px
    padding-right: 10px

.aydabanner_code
  // width: auto
  overflow: auto
  padding: 15px 15px
  background-color: #eee
  border: 1px solid #ccc
  /* color: #600
  +border-radius(5px)


.desc
  display: inline
  color: #999
  font-size: 12px

.right
  float: right
.left
  float: left

.avatar
  width: 38px
  height: 38px
  padding: 3px
  background-color: white
  // border: 1px solid $darken_color

.activity_log
  ul.activity_log_list
    list-style-image: none
    list-style-type: none
    padding-left: 0
    li 
      span
        color: gray


.column_left
  width: 45%
  float: left
.column_right
  width: 45%
  float: right

/*  * html #links li a {  /* make hover effect work in IE */
/* 	width: 400px;
/* }

.campaigns
  ol
    margin: 0
    padding: 0 0 20px 0
    list-style-type: none
    list-style-image:none
    width: 450px
    li
      background-color: #eee
      padding: 15px

  a.campaign_link
    width: 220px
    height: 40px
    padding: 10px
    float: left
    display: block
    text-decoration: none
    &:hover
      background-color: #fff
    .campaign_image
      float: left
      width: 120px
    .campaign_info
      float: left
      width: 100px
      em
        color: #333
        display: block
        font: normal 85% Verdana, Helvetica, sans-serif
        line-height: 125%
      span 
        color: #125F15
        font: normal 70% Verdana, Helvetica, sans-serif
        line-height: 150%
  .campaign_state
    float: left
    padding: 10px
    width: 120px

.state_buttons
  a.state_link
    text-decoration: none
  // button.state_button
    // +button-minimal
  button.state_button
    font-size: 9px
    padding: 0
    // &[disabled]
    &.active
      color: white
      font-weight: bold
      // background-color: black
      // 2px 2px
