.campaigns
  %ol
    - campaigns.each do |campaign|
      %li
        = render 'banners/banner_block', :banner => campaign.banner, :campaign => campaign
        .clear

  = link_to 'New Campaign', new_campaign_path

