-# #topper
#first_row
  %h1#logo
    = link_to 'Ай да мастер!', root_path
    #slogan= "реклама на сайте в два <s>счета</s> щелчка".html_safe
      
  = render 'devise/shared/login'
  .clear
#second_row
  = render 'shared/menu'
  .clear
